# Normalização de finais de linha
* text=auto

*.js   text eol=lf
*.mjs  text eol=lf
*.cjs  text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css  text eol=lf
*.md   text eol=lf
*.txt  text eol=lf
*.csv  text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.sh   text eol=lf

*.bat  text eol=crlf
*.cmd  text eol=crlf
